<a routerLink="/movies/new" class="btn btn-primary">New Movie</a>
<div class="py-4 mb-4 d-flex justify-content-center">
  <input placeholder="Search movies" #searchField class="p-2" />
</div>
<ng-container *ngIf="movies$ | async as movies">
  <div
    *ngIf="movies.length; else empty"
    class="row row-cols-1 row-cols-md-2 justify-content-center"
    style="row-gap: 1rem"
  >
    <ngm-movie-item
      *ngFor="let movie of movies$ | async; trackBy: trackByFn"
      (commentUpdate)="handleCommentUpdate($event)"
      (movieDelete)="handleMovieDelete($event)"
      [movie]="movie"
    ></ngm-movie-item>
  </div>
  <ng-template #empty>
    <div class="d-flex justify-content-center align-items-center gap-3 fs-5">
      <i class="far fa-window-close"></i>
      No movies found
    </div>
  </ng-template>
</ng-container>
